# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/

# Archivos temporales
*.tmp
*.log

# Archivos generados por pruebas
prueba_ciudad.json
ciudad_prueba.json

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db